PUBLIC_IS_DEMO=false
ENABLE_DEV_ROUTES=false
PUBLIC_SITE_IN_PROGRESS=false
PUBLIC_CONTACT_EMAIL=info@elena-roehrborn.de
PUBLIC_FORM_EMAIL=formular@elena-roehrborn.de
PUBLIC_CONTACT_RECIPIENT_NAME=Elena Roehrborn
PUBLIC_CONTACT_REPLY_WITHIN=innerhalb von zwei Werktagen
